<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
RewriteEngine On
RewriteCond %{HTTP_HOST} ^enthic.fr [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI}  [L,R=301]
RewriteCond %{HTTP_HOST} ^www.enthic.fr [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}  [L,R=301]
Errordocument 404 /404.html